.app {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.app-header {
  padding: 10px 0;
}

#preview {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.preview-col > canvas{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  background: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
